@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy-Black.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy-Heavy.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy-UltraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Gilroy";
  src: url("../Fonts/Gilroy-Thin.ttf");
  font-weight: 100;
}
