* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
::selection {
  background-color: #00ff6a;
  color: rgb(0, 0, 0);
}
body {
  cursor: cell;
}
